<div class="menu" style="background-color: {{backgroundColor}};">
    <div class="title" style="border-bottom: solid 1px {{titleBorderBottomColor}}; color: {{titleColor}}">{{title}}</div>
    <ul>
        <li
            data-ng:repeat="item in items"
            data-ng:click="select(item)"
        >
            <a
                href="{{ item.link }}"
                data-ng:class="{'selected': item.selected}"
                data-ng:style="item.selected && {'color': itemSelectedColor, 'background-color': itemSelectedBackColor}"
            >
                {{ item.text }}
            </a>
        </li>
    </ul>
</div>