.menu
{
    position: relative;
    float: right;
    width: 15%;
    height: 100%;
    color: #000000;
}

.menu .title
{
    position: relative;
    float: left;
    width: 90%;
    text-align: center;
    margin: 4% 5% 4% 5%;
    font-size: 2em;
}

.menu ul
{
    list-style-type: none;
    width: 100%;
    height: 97%;
    padding: 0;
    margin: 3% 0;
    position: relative;
}

.menu ul li
{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li a
{
    cursor: pointer;
    width: 100%;
    margin: 0;
    font-family: 'Arial';
    color: #8c8e87;
    text-decoration: none;
    position: relative;
    float: left;
}

.menu ul li a:hover,
.menu ul li a.selected
{
    cursor: pointer;
    width: calc(100% - 2px);
    margin: 0;
    color: #000000;
}